.task {
    border-bottom: 1px solid #ccc;
    padding: 1rem;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
}

.task:last-of-type {
    border-bottom: none;
}